body {
  font-size: 14px;
  font-family: "Roboto Condensed", $font-family-sans-serif;
  src: url("/assets/styles/fonts/RobotoCondensed-Regular.ttf");
}

.border- {
  background-image: linear-gradient(#ff9d2f, #ff6126);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.event-thumb {
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
}

.thumb {
  max-height: 75px;
}

//slant the logo
.slant {
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

@include media-breakpoint-up(md) {
  .thumb {
    max-height: 150px;
  }

  //hover on dropdown
  header {
    .dropdown:hover .dropdown-menu {
      display: block;
    }
    .dropdown > .dropdown-toggle:active {
      pointer-events: none; /*Without this, clicking will make it sticky*/
    }
  }
}

//add shadows to the carousel text
.carousel-caption {
  text-shadow: black 0.1em 0.1em 0.2em;
}
