body {
  font-size: 15px;
  font-family: "Cuprum", $font-family-sans-serif;
}

//The slant around the Logo
.slant {
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.event-thumb {
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
}

//News Thumbnails
.thumb {
  max-height: 75px;
}

@include media-breakpoint-up(md) {
  //News Thumbnails
  .thumb {
    max-height: 150px;
  }

  //Hover on dropdown
  header {
    .dropdown-menu a:hover {
      color: $primary !important;
    }
    .dropdown:hover .dropdown-menu {
      display: block;
    }
    .avoid-sticky:active {
      pointer-events: none; /*Without this, clicking will make it sticky*/
    }
  }
}
