//$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

$primary: #071775;
$secondary: #253b80; //#3F8CC6
$enable-shadows: true;
$enable-responsive-font-sizes: true;

$link-hover-decoration: none;
